* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext-1: #b8c0e0;
  --subtext-0: #a5adcb;
  --overlay-2: #939ab7;
  --overlay-1: #8087a2;
  --overlay-0: #6e738d;
  --surface-2: #5b6078;
  --surface-1: #494d64;
  --surface-0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --opaqueBase: #24273acc;
}
@font-face {
  font-family: "JetBrainsMono";
  src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: "JetBrainsMono";
  > .background {
    background-image: url(../assets/line_icons.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    position: absolute;
    z-index: -1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: #24273a88;
      width: 100%;
      height: 100%;
    }
  }
  .container {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    .paragraph {
      white-space: pre-wrap;
      line-height: 40px;
      padding: 30px;
      width: 800px;
      font-size: 24px;
      text-align: center;
      color: var(--subtext-0);
      font-weight: bold;
      border: 3px solid var(--rosewater);
      border-radius: 60px 0;
      background-color: var(--opaqueBase);
      .right {
        color: var(--rosewater);
        background-color: var(--surface-1);
      }
      .wrong {
        color: var(--surface-0);
        background-color: var(--red);
      }
    }
    .row {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      color: var(--rosewater);
      margin-top: 20px;
      p {
        font-size: 30px;
        border: 3px solid var(--rosewater);
        background-color: var(--opaqueBase);
        border-radius: 20px 0;
        padding: 3px 20px;
        visibility: hidden;
      }
      .speed {
        span:last-child {
          font-size: 12px;
          position: relative;
          top: -14px;
        }
      }
    }
  }
}
